* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* header */
.header-section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.header-section h1 {
    font-size: 3rem;
    color: red;

}

img {
    height: 3rem;
    margin-right: 0.5rem;
}


/* contact list */
.delete-icon {
    height: 30px;
}

ul {
    width: 30rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    /* background-color: red; */
}


li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 5px;
    background-color: lightblue;
    padding: 25px;
    border-radius: 20px;
}

/* form */
#form-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

input {
    margin: 0 25px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 35px;
    letter-spacing: 1px;
}

button {
    margin: 0 25px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 35px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}