<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title%>
    </title>
</head>

<body>
    <h1>
        <%= h1%>
    </h1>
    <ul>
        <% for(let i=1;i<=5;i++){ %>
            <li>
                <%= i %>
            </li>

            <%}%>
    </ul>

    <% if(true){%>
        <h1>TRUE</h1><%}
        else{%>
            <h1>WRONG</h1>
            <%}
    %>
</body>

</html>